.git
.github
.project-notes
.pnpm-store
.turbo
**/.turbo
node_modules
**/node_modules
dist
**/dist
cdk.out
**/cdk.out
playwright-report
**/playwright-report
test-results
**/test-results
.env
.env.*
!.env.example
.DS_Store
*.log
*.tsbuildinfo

infra
packages/web
